<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PetStore_Api_Suite" parallel="tests" thread-count="2" configfailurepolicy="continue">

  <test name="Petstore Flows">
    <packages>
      <package name="smokeTests.orders"/>
      <package name="smokeTests.pets"/>
      <package name="smokeTests.users"/>
    </packages>
  </test>
</suite>
